 @{ 
    var office = Model.Value("officeAddress", fallback: Fallback.ToAncestors);
	 var email = Model.Value("abujaEmail", fallback: Fallback.ToAncestors);
	 var phone = Model.Value("phoneNumber", fallback: Fallback.ToAncestors);
}
<!-- topbar -->

<header id="ft-header" class="ft-header-section header-style-one">
		<div class="ft-header-content-wrapper position-relative">
			<div class="container">
				<div class="ft-header-content position-relative">
					<div class="ft-brand-logo">
						<a href="/">
							<img src="/images/logo_.png" class="d-none d-md-block" alt="NCAA Logo" style="max-width: 90%">
							<img src="/images/ftlogo.png" class="d-block d-sm-none" alt="NCAA Logo" style="width: 64px">
						</a>
					</div>
					<div class="ft-header-menu-top-cta position-relative">
						<div class="ft-header-top ul-li">
							<ul>
								<li><i class="bx bx-envelope"></i>
									<a href="mailto:@email">@email</a>
								</li>
								<li><i class="bx bx-phone"></i>
									<a href="mailto:@phone">@phone</a></li>
								<li><i class="bx bx-buildings"></i><a href="https://mail.ncaa.gov.ng/owa" title="Check Mail" target="_blank">
									Potals
								</a></li><li><i class="bx bx-mail-send"></i><a href="https://mail.ncaa.gov.ng/owa" title="Check Mail" target="_blank">
									Check Mail
								</a></li>
							</ul>
						</div>
						@Html.Partial("Menu")
					</div>
					@Html.Partial("MobileMenu")
					</div>
			</div>
		@* 	<div class="ft-header-cta-info d-flex"> *@
		@* 		<div class="ft-header-cta-icon d-flex justify-content-center align-items-center"> *@
		@* 			<i class="flaticon-call"></i> *@
		@* 		</div> *@
		@* 		<div class="ft-header-cta-text headline pera-content"> *@
		@* 			<p>Get In Touch</p> *@
		@* 			<h3>+90 154 456 784</h3> *@
		@* 		</div> *@
		@* 	</div> *@
		 </div> 
	</header>
