<section id="ft-about" class="ft-about-section">
	<div class="container">
		<div class="ft-about-content">
			<div class="row">
				<div class="col-lg-6 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="ft-about-img-exp position-relative">
						<div class="ft-about-exp-area headline pera-content position-absolute">
							<div class="ft-about-exp-img">
								<img src="/images/shape/exp-sh1.png" alt="shape">
							</div>
							<div class="ft-about-exp-text position-absolute">
								<h3><span class="counter">22</span><b>+</b> Years</h3>
								<p>Ensuring safe air in Nigeria
								</p>
							</div>
						</div>
						<div class="ft-about-img">
							<img src="/images/about/ab1.jpg" alt="Capt. Nuhu Musa">
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="ft-about-text-wrapper">
						<div class="ft-section-title headline pera-content">
							<span class="sub-title">About us</span>
							<h2>Nigerian Civil Aviation Authority
							</h2>
							<p>
								Civil aviation is a critical element in Nigeria's transportation system and indeed its economy. Nigeria has twenty (20) airports and many regulated airstrips and heliports; 23 active domestic airlines; 554 licensed pilots; 913 licensed engineers and 1700 cabin personnel. Nigeria being Africa's most populous country is an important destination for over 22 foreign carriers. Nigeria currently has Bilateral Air Services Agreements with over 78 countries.
							</p>
						</div>
						<div class="ft-about-feature-wrapper-2">
							<div class="row">
								<div class="col-lg-6 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 400ms; animation-name: fadeInUp;">
									<div class="ft-about-feature-list-item d-flex align-items-center">
										<div class="ft-about-feature-icon d-flex align-items-center justify-content-center">
											<i class="fal fa-bullseye-arrow"></i>
										</div>
										<div class="ft-about-feature-text headline pera-content">
											<h3>Our Mission</h3>
											<p>
												@Model.Value("mission", fallback: Fallback.To(Fallback.Ancestors, Fallback.DefaultValue), 
													defaultValue: new HtmlString("To provide aviation safety and economic regulation in the most efficient ..."))
											</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms" >
									<div class="ft-about-feature-list-item d-flex align-items-center">
										<div class="ft-about-feature-icon d-flex align-items-center justify-content-center">
											<i class="fal fa-bullseye-arrow"></i>
										</div>
										<div class="ft-about-feature-text headline pera-content">
											<h3>Our Vision</h3>
											<p>
												@Model.Value("vision", fallback: Fallback.To(Fallback.Ancestors, Fallback.DefaultValue), 
													defaultValue: new HtmlString("To be one of the leading civil aviation authorities in the world."))
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="ft-btn-3">
								<div class="ft-btn wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
									<a class="d-flex justify-content-center align-items-center" href="/about/about-us">Explore More <i class="flaticon-right-arrow"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="ft-thx-about" class="ft-thx-about-section">
		<div class="container">
			<div class="pr-cor-about-content">
				<div class="row">
					<div class="col-lg-6">
						<div class="pr-cor-about-text-wrap">
							<div class="pr-cor-section-title headline pera-content wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
 								<h2>PASSENGER'S RIGHTS</h2>
								<p>
Traveling by air or using air transport services confers certain rights. But it also comes with some responsibilities. Among the main ones are								</p>
							</div>
							<div class="pr-cor-about-feature-area">
								<div class="pr-cor-about-feature-list d-flex align-items-center wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
									<div class="pr-cor-about-ft-icon d-flex align-items-center justify-content-center">
										<i class="bx bx-world"></i>
									</div>
									<div class="pr-cor-about-ft-text headline pera-content">
										<h3>Compensationy</h3>
										<p>
he right to compensation for flight cancellation, delays, damaged/loss baggage and denied boarding										</p>
									</div>
								</div>
								<div class="pr-cor-about-feature-list d-flex align-items-center wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
									<div class="pr-cor-about-ft-icon d-flex align-items-center justify-content-center">
										<i class="bx bx-check-shield"></i>
									</div>
									<div class="pr-cor-about-ft-text headline pera-content">
										<h3>Choice</h3>
										<p>
The right to book and confirm tickets with an airline of your choice.										</p>
									</div>
								</div>
							</div>
							<div class="ft-thx-btn text-center wow flipInX" data-wow-delay="200ms" data-wow-duration="1500ms">
								<a class="d-flex justify-content-center align-items-center" href="/passenger-responsiblities">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="pr-cor-about-img-wrap position-relative">
							 <div class="pr-cor-about-img-area">
                             								<img src="/images/about/bg2.jpg" alt="" width="400" >
                             							</div>
							<div class="pr-cor-about-img-shape position-absolute">
								<img src="/images/shape/ab-sh1.png" alt="">
							</div>
							<div class="pr-cor-about-img-area2 position-absolute">
								<img src="/images/about/bg2.jpeg" alt="" width="400">
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

