@{
	//
	// var abujaA=Model.Value<string>("abujaAddress");
	var regionalOffices = Umbraco.Content("7ce688f8-0678-4ffd-bd17-368c2ed306e6")
		.Children("regionalOffice")
		.Where(x => x.IsVisible() && !x.Name.Contains("Abuja"));
} 
<section class="ft1-location-section">
       			<div class="auto-container">
       				<div class="inner-container" style="background-image:url(/images/background/pattern-4.png)">
       					<div class="title-box">
       						<h4>Our Locations</h4>
       					</div>
       					<div class="row clearfix">
       						 @foreach (var item in regionalOffices)
       						 {
       							 var name = item.Value("officeName");
       							 var address = item.Value("officeAddress");
       							 var email = item.Value("officeEmail");
       							 var phone = item.Value("officePhone");
       							 <div class="column col-lg-3 col-md-4 col-sm-12">
       								 <h6>@name</h6>
       								 <ul class="post-info">
       									 <li><span class="icon bx bx-buildings"></span> @address</li>
       									 <li><span class="icon bx bx-phone"> </span><a href="mailto:@email">@email</a></li>
       									 <li><span class="icon bx bx-envelope"> </span><a href="tel:@phone">@phone</a></li>
       								 </ul>
       							 </div>
       						 }
       						 
       						 
       					</div>
       				</div>
       			</div>
       		</section>


