@{
    Layout = "roothead.cshtml";
}
 		@RenderSection("scripts", false)
 		@RenderSection("styles", false)


 @await Umbraco.RenderMacroAsync("Breadcrumbs")



<div id="content" class="container"  >
    @RenderBody()
</div>
@section styles{
    <style>
    #content {
    margin-top: 32px;
    margin-bottom:14rem;
    }
    .page-header{
    margin-bottom:2rem;
    margin-top:2rem;
    }
    .header-title{
    padding: 40px 0 20px 0;
    }
        .page-title{
            color: #fff;
            font-size: 56px;
        }
        .widget ul{
        padding-left: 0;
        }
    </style>
}